#!/usr/bin/make -f
# -*- makefile -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


%:
	dh $@ --parallel  --sourcedirectory=src

override_dh_auto_build:
	dh_auto_build 
	cd src/lib && make CXX=g++-4.6 CC=gcc-4.6
	cd src/MS && make CXX=g++-4.6 CC=gcc-4.6

override_dh_auto_clean:
	dh_auto_clean
	cd src/lib && make clean
	cd src/MS && make clean
